kaggle：https://www.kaggle.com/c/competitive-data-science-predict-future-sales/kernels

inference：https://www.kaggle.com/the1owl/playing-in-the-sandbox

## 加载库和数据

In [1]:
import numpy as np
import pandas as pd
from sklearn import *
import nltk,datetime

E:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
E:\ProgramData\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
E:\ProgramData\Anaconda3\lib\site-packages\sklearn\learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [4]:
dataset_dir='D:/Dataset/Kaggle/Predict Future Sales/'
train = pd.read_csv(dataset_dir+'sales_train_v2.csv')
test = pd.read_csv(dataset_dir+'test.csv')
submission = pd.read_csv(dataset_dir+'sample_submission.csv')
items = pd.read_csv(dataset_dir+'items.csv')
item_cats = pd.read_csv(dataset_dir+'item_categories.csv')
shops = pd.read_csv(dataset_dir+'shops.csv')
print('train:', train.shape, 'test:', test.shape)

train: (2935849, 6) test: (214200, 3)

## 字段说明
- ID - 测试集中（商店，物品）的唯一标识
- shop_id - 商店的唯一标识
- item_id - 商品的唯一标识
- item_category_id - 商品分类的唯一标识
- item_cnt_day - 商品的每一天销量，我们预测的是商品每月销量，可以通过每天销量来计算
- item_price - 商品当前价格
- date - 日期 dd/mm/yyyy
- date_block_num - 月份连续数字. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
- item_name - 商品名称
- shop_name - 商店名称
- item_category_name - 商品分类名称

## 训练集和测试集

In [6]:
[c for c in train.columns if c not in test.columns]

['date', 'date_block_num', 'item_price', 'item_cnt_day']

In [7]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [9]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268