原文：https://blog.csdn.net/qq_35318838/article/details/80271869

## 1  loc、iloc、ix用途区别
- loc：通过选取行（列）标签索引数据 
- iloc：通过选取行（列）位置编号索引数据 
- ix：既可以通过行（列）标签索引数据，也可以通过行（列）位置编号索引数据

其实感觉如果理解了**标签**和**位置编号**，其实这三个函数理解起来简单多了

- 标签：我们给“行、列”起的名字或者label，比如第二行叫“col2”
- 位置编号：就是所以，比如在程序中，列表中的第`1`个元素的位置索引为`0`，也就是位置编号为0

## 2 实例

### 创建数据

In [2]:
import pandas as pd
import numpy as np

In [36]:
df=pd.DataFrame(np.arange(20).reshape(4,5),index=['row1','row2','row3','row4'],
               columns=['col1','col2','col3','col4','col5'])

In [37]:
df

      col1  col2  col3  col4  col5
row1     0     1     2     3     4
row2     5     6     7     8     9
row3    10    11    12    13    14
row4    15    16    17    18    19

上面构建了一个4`*`5的DataFrame数据，同时创建了行标签和列标签

### 行、列标签

In [38]:
# 行标签
df.index

Index(['row1', 'row2', 'row3', 'row4'], dtype='object')

In [39]:
# 列标签
df.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5'], dtype='object')

### 行、列编号

In [40]:
# 行 位置编号
np.arange(len(df.index))

array([0, 1, 2, 3])

In [41]:
# 列 位置编号
np.arange(len(df.columns))

array([0, 1, 2, 3, 4])

### loc
loc只能通过选取行，列标签索引数据

- 选取一行数据

In [55]:
df.loc['row1']

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

In [56]:
df.loc['row1',]

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

In [57]:
df.loc['row1',:]

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

- 选取一列数据

In [62]:
df.loc[:,'col1']

row1     0
row2     5
row3    10
row4    15
Name: col1, dtype: int32

**大家注意下面两种方式来选取列都是错误的**

In [76]:
# df.loc[,'col1']
# df.loc['col1']

- 选取某行某列的1个数据

In [69]:
df.loc['row1','col1']

0

### iloc
iloc只能通过选取位置编号索引数据

- 选取一行数据

In [79]:
df.iloc[0]

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

In [80]:
df.iloc[0,]

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

In [81]:
df.iloc[0,:]

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

- 选取一列数据

In [82]:
df.iloc[:,0]

row1     0
row2     5
row3    10
row4    15
Name: col1, dtype: int32

In [85]:
# df.iloc[,0] # 这种方式错误

### ix
在py3版本 ix弃用，还学他干嘛^_^

In [90]:
df.ix[0]

E:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

col1    0
col2    1
col3    2
col4    3
col5    4
Name: row1, dtype: int32

 ###  loc、iloc的切片操作

- 选取row1到row2之间的数据

In [92]:
df.loc['row1':'row2']

      col1  col2  col3  col4  col5
row1     0     1     2     3     4
row2     5     6     7     8     9

In [96]:
df.iloc[0:2] # 2而是row3的位置，要大于想要的row2的位置1

      col1  col2  col3  col4  col5
row1     0     1     2     3     4
row2     5     6     7     8     9

- 选取row1到row2，col1到col2之间的数据

In [93]:
df.loc['row1':'row2','col1':'col2']

      col1  col2
row1     0     1
row2     5     6

In [98]:
df.iloc[0:2,0:2]

      col1  col2
row1     0     1
row2     5     6