# 导入相关包

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

G:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# 加载数据

In [3]:
data=pd.read_csv('files/data/python69-data/Credit.csv')
data.head(10)

,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
5,6,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151
6,7,20.996,3388,259,2,37,12,Female,No,No,African American,203
7,8,71.408,7114,512,2,87,9,Male,No,No,Asian,872
8,9,15.125,3300,266,5,66,13,Female,No,No,Caucasian,279
9,10,71.061,6819,491,3,41,19,Female,Yes,Yes,African American,1350

In [4]:
data['Student']=data['Student'].apply(lambda x: 1 if x=='Yes' else 0)
data['Student'].head()

0    0
1    1
2    0
3    0
4    0
Name: Student, dtype: int64

# 问题 1

- student加入

In [5]:
X=data[['Rating','Income','Student','Limit']]
y=data['Balance']
print(y)

0       333
1       903
2       580
3       964
4       331
5      1151
6       203
7       872
8       279
9      1350
10     1407
11        0
12      204
13     1081
14      148
15        0
16        0
17      368
18      891
19     1048
20       89
21      968
22        0
23      411
24        0
25      671
26      654
27      467
28     1809
29      915
       ...
370     992
371       0
372     840
373    1003
374     588
375    1000
376     767
377       0
378     717
379       0
380     661
381     849
382    1352
383     382
384       0
385     905
386     371
387       0
388    1129
389     806
390    1393
391     721
392       0
393       0
394     734
395     560
396     480
397     138
398       0
399     966
Name: Balance, Length: 400, dtype: int64

# 划分数据集合测试集

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(300, 4)
(100, 4)
(300,)
(100,)

# 训练线性模型

In [7]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

# 模型评价

In [8]:
# 模型拟合测试集
# 计算偏差bias
y_pred=linreg.predict(X_test)
mean_y_pred=np.mean(y_pred)
bias=np.sum(y_test-mean_y_pred)/y_test.shape[0]
print("Bias is %.2f" % (bias))
# 计算MSE
print("MSE is :%.2f" % metrics.mean_squared_error(y_test,y_pred))

# 计算var
print("Var is %.2f" % np.var(y_pred))

Bias is 7.90
MSE is :11839.59
Var is 209960.23

- student 不加入

In [11]:
X=data[['Rating','Income','Limit']]
y=data['Balance']
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)
linreg = LinearRegression()
linreg.fit(X_train, y_train)
y_pred=linreg.predict(X_test)
mean_y_pred=np.mean(y_pred)
bias=np.sum(y_test-mean_y_pred)/y_test.shape[0]
print("Bias is %.2f" % (bias))
# 计算MSE
print("MSE is :%.2f" % metrics.mean_squared_error(y_test,y_pred))

# 计算var
print("Var is %.2f" % np.var(y_pred))

Bias is 12.32
MSE is :30307.14
Var is 193242.39