[用Python进行时序预测的7种方法](https://zhuanlan.zhihu.com/p/41717408)

[数据集](https://datahack.analyticsvidhya.com/contest/practice-problem-time-series-2/)

[英文原文](http://link.zhihu.com/?target=https%3A//www.analyticsvidhya.com/blog/2018/02/time-series-forecasting-methods/)

我们假设要解决一个时序问题：预测搭乘高铁服务商 JetRail 旗下高铁的乘客数量。我们手头有过往两年的数据（2012 年 8 月至 2014 年 8月），需要用这些数据预测接下来 7 个月的乘客数量。

## 加载数据

In [2]:
import pandas as pd

In [3]:
train=pd.read_csv('files/data/python94/train.csv')
test=pd.read_csv('files/data/python94/test.csv')
train.shape,test.shape

((18288, 3), (5112, 2))

In [4]:
train.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [5]:
train.tail()

          ID          Datetime  Count
18283  18283  25-09-2014 19:00    868
18284  18284  25-09-2014 20:00    732
18285  18285  25-09-2014 21:00    702
18286  18286  25-09-2014 22:00    580
18287  18287  25-09-2014 23:00    534

如上面的输出语句所示，我们获得了 2012-2014 年两年每个小时的乘客数量，然后需要预测未来的乘客数量。