# 作业
![Markdown](http://i1.bvimg.com/641953/e138e8e19afc71f5.png)

In [1]:
# 导入包
import pandas as pd

In [3]:
data=pd.read_csv('files/data/python60-data/data.csv')
data.head()

   user                   artist sex  country
0     1    red hot chili peppers   f  Germany
1     1  the black dahlia murder   f  Germany
2     1                goldfrapp   f  Germany
3     1         dropkick murphys   f  Germany
4     1                 le tigre   f  Germany

## 问题1

In [4]:
# 给出top10 乐队
data['artist'].value_counts()[:10]

the beatles              1483
radiohead                1479
coldplay                 1292
red hot chili peppers    1013
metallica                 930
muse                      920
pink floyd                895
nirvana                   844
linkin park               811
the killers               803
Name: artist, dtype: int64

## 问题2

In [9]:
trans=data.groupby('user',as_index=False)['artist'].agg({'values':lambda x:x.tolist()})
trans.head()
trans['values'].to_csv('data.csv',index=False)

In [4]:
import pandas as pd
#你的df有time索引，df.reset_index(False)去掉索引即可
df = pd.DataFrame([['2018-03-11 10:00:12', 1, 5], ['2018-03-11 20:00:12', 1, 5], ['2018-03-12 20:00:12', 1, 5]], columns=['date', 'a', 'b'])

def f(r):
    r['date'] = r['date'].split(' ')[0]    # 如果是日期类型直接r['date'] = r['date'].date()
    return r

df.apply(f, axis=1).groupby('date').sum()

            a   b
date
2018-03-11  2  10
2018-03-12  1   5

In [5]:
ids=[1,1,1,2,2,2]
values=['A','B','C','D','E','F']
data={'ids':ids,'values':values}
data

{'ids': [1, 1, 1, 2, 2, 2], 'values': ['A', 'B', 'C', 'D', 'E', 'F']}

In [6]:
data=pd.DataFrame(data=data)
data

   ids values
0    1      A
1    1      B
2    1      C
3    2      D
4    2      E
5    2      F

In [10]:
result=data.groupby('ids',as_index=False)['values'].apply(lambda x:x.tolist())
print(result)

0    [A, B, C]
1    [D, E, F]
dtype: object

- 问题2 见apriori