# 列表

In [58]:
a=[1,2,3]
b=[4,5,6]
#查看元素的索引 2的索引为1
a.index(2)

1

In [13]:
#合并两个列表
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [18]:
#删除列表元素
a.remove(3)
a

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [21]:
#添加元素
a.append(1)
a

[4, 5, 6, 4, 5, 6, 4, 5, 6, 1, 1, 1]

In [26]:
#翻转列表
a.reverse()
a

[1, 1, 1, 6, 5, 4, 6, 5, 4, 6, 5, 4]

In [28]:
#列表排序
a.sort()
a

[1, 1, 1, 4, 4, 4, 5, 5, 5, 6, 6, 6]

In [31]:
#弹出元素
a.pop(1)
a

[1, 4, 4, 5, 5, 5, 6, 6, 6]

In [34]:
#计算列表中4的个数
a.count(4)

2

In [2]:
#列表去重
a=[1, 4, 4, 5, 5, 5, 6, 6, 6]
a

[1, 4, 4, 5, 5, 5, 6, 6, 6]

In [8]:
a=list(set(a))
a

[1, 4, 5, 6]

In [11]:
#将列表转换成元组
tuple(a)

(1, 4, 5, 6)

In [17]:
b=int(input("请输入数字给b赋值:"))

请输入数字给b赋值:1

In [18]:
b

1

In [11]:
a=(1,2,5,6,1,3,1,2,4)

In [13]:
tuple(set(a))

(1, 2, 3, 4, 5, 6)

# 列表去重

In [16]:
ids = [1,4,3,3,4,2,3,4,5,6,1]
ids = list(set(ids))
ids

[1, 2, 3, 4, 5, 6]

In [6]:
#去重保持index不变
ids = [1,4,3,3,4,2,3,4,5,6,1]
news_ids = list(set(ids))
news_ids.sort(key=ids.index)
news_ids

[1, 4, 3, 2, 5, 6]

In [2]:
#Python序列的切片操作与技巧：list, tuple, string, unicode, buffer, xrange
a="helloworld"
max(a)

'w'

In [4]:
min(a)

'd'

In [6]:
len(a)

10

In [9]:
#获取指定元素的index
a.index('h')

0

In [11]:
bool('o' in a)

True

In [13]:
a+a

'helloworldhelloworld'

In [15]:
a*3

'helloworldhelloworldhelloworld'

In [17]:
a[5]

'w'

In [19]:
a[1:4]

'ell'

In [20]:
a[-1]

'd'

In [7]:
#sorted函数
import operator
students=[('yan','A',15),('qiang','B',17),('li','O',20)]
#按照年龄进行逆排序（从大向小）
sorted(students,key=operator.itemgetter(2),reverse=True)

[('li', 'O', 20), ('qiang', 'B', 17), ('yan', 'A', 15)]

## 列表切分

In [2]:
li=[1,2,3,4,5,6,7]
li[1:]

[2, 3, 4, 5, 6, 7]

In [3]:
li[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [5]:
#步长为2
li[::2]

[1, 3, 5, 7]

# 字典

In [4]:
#字典get方法
a={'name':'yaqiang','age':12}
a.get('name')

'yaqiang'

In [14]:
a.get('sex','none')

'none'

In [5]:
a

{'age': 12, 'name': 'yaqiang'}

In [6]:
#字典的items()
a.items()
for key,value in a.items():
    print(key+"=>",value)

name=> yaqiang
age=> 12

# 字符串、元组、列表和字典转换

## 字典

In [21]:
dict={'name':'quincy','age':7,'class':'First'}

In [11]:
#字典转换成字符串
print(str(dict),type(str(dict)))

{'name': 'quincy', 'age': 7, 'class': 'First'} <class 'str'>

In [13]:
# 字典转成元组
print(tuple(dict))

('name', 'age', 'class')

In [16]:
# 字典的值转换成元组
print(tuple(dict.values()))

('quincy', 7, 'First')

In [18]:
#字典索引转换成列表
print(list(dict))

['name', 'age', 'class']

In [20]:
#字典的值转换成列表
print(list(dict.values()))

['quincy', 7, 'First']

## 元组

In [23]:
tup=(1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [28]:
#元组转换成字符串
print(str(tup),type(str(tup)))
tup_str=str(tup)
# for ele in tup_str:
#     print(ele)

(1, 2, 3, 4, 5) <class 'str'>

In [30]:
#元组转换成列表
print(list(tup))

[1, 2, 3, 4, 5]

In [31]:
#元组不可以转化成字典

## 列表

In [34]:
nums=[1,2,3,4,5,6,7]
nums

[1, 2, 3, 4, 5, 6, 7]

In [37]:
#将列表转换成字符串
print(str(nums))

[1, 2, 3, 4, 5, 6, 7]

In [39]:
#将列表转换成元组
print(tuple(nums))

(1, 2, 3, 4, 5, 6, 7)

In [40]:
#列表不可以转换成字典

## 字符串

In [55]:
#字符串转化为元组
print(tuple(eval("(1,2,4)")))

(1, 2, 4)

In [57]:
#将字符串转化为列表哦
print(list(eval("[1,2,4]")))

[1, 2, 4]

In [53]:
#将字符串转为字典
# eval 将字符串str当成有效的表达式来求值并返回计算结果。
print(eval("{'name':'quincy','age':24}"))
print(type(eval("{'name':'quincy','age':24}")))

{'name': 'quincy', 'age': 24}
<class 'dict'>